%html
  %head
    %title Shared Lists
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/shared.css" } 
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/base.css" } 
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/skeleton.css" } 
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/layout.css" } 
    
  %body
    .container
      %h1 Shared Lists

      = yield
