%html
  %head
    %title Shared Events
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/shared.css" } 
    
  %body
    #header
      #title Shared Events
      #user
        = "Hi #{@user.name}!"
        %br
        %a{:href=>'#'} Account
        |
        %a{:href=>'#'} Logout

    .content
      = yield
