%html
  %head
    %title Shared Lists
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/shared.css" } 
    
  %body
    = yield
